# .pyc files
*.pyc
api/*.pyc
MountainHacks/*.pyc

# OSX file
.DS_Store

# JetBrains IDE files
.idea/

# Resume pdfs
resumes/*.pdf

# The database b/c too lazy to set up postgreSQL
*.sqlite3

# sssssshhhhhhhhhh you didn't see anything.....
#MountainHacks/secrets.py
